<!DOCTYPE html>
<html>

<head>
  <title>W3.CSS Template</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="bootstrap3/css/font-awesome.css" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Grand+Hotel" rel="stylesheet" type="text/css">
  <link href="bootstrap3/css/bootstrap.css" rel="stylesheet">
  <link href="assets/css/gsdk.css" rel="stylesheet">
  <link href="assets/css/demo.css" rel="stylesheet">
  <style>
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5 {
      font-family: "Raleway", sans-serif
    }
  </style>
</head>

<body class="w3-light-grey">
  <!-- Top container -->
  <div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
    <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();">
      <i class="fa fa-bars"></i> &nbsp;Menu</button>
    <span class="w3-bar-item w3-right">Logo</span>
  </div>
  <!-- Sidebar/menu -->
  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
  <!-- !PAGE CONTENT! -->
  <div class="w3-main" style="margin-left:300px;margin-top:43px;">
    <!-- Header -->
    <header class="w3-container" style="padding-top:22px">
      <h5>
        <b> 계약하시겠습니까?</b>
      </h5>
    </header>
    <div class="row">
      <div class="col-md-5">
        <img name="picture_id" src="bootstrap3/img/default.jpg"> </div>
      <div class="col-md-7">
        <form action="" method="post">
          <div class="row">
            <div class="col-md-2">
              <label> 성: </label> &nbsp; </div>
            <div class="col-md-10">
              <input class="col-md-5 form-control input-sm" type="text" name="first_name"> </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label> 이름: </label> &nbsp; </div>
            <div class="col-md-10">
              <input class="col-md-5 form-control input-sm" type="text" name="last_name"> </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <label> 이메일: </label> &nbsp; </div>
            <div class="col-md-10">
              <input class="col-md-5 form-control input-sm" type="text" name="email"> </div>
          </div>
          <div class="row" style="text-align:center">
            <input type="button" style="margin:10;background-color:blue;color:white" value="승인" class="btn btn-default" col="50" height="10">
            <input type="button" value="거절" style="margin:10;background-color:red;color:white" class="btn btn-default" width="50"> </div>
        </form>
      </div>
    </div>
    <!-- Footer -->
    <footer class="w3-container w3-padding-16 w3-light-grey" style="text-align:center">
      <p> CopyRight by CoIN &amp; NH-KISA </p>
    </footer>
    <!-- End page content -->
    <script>
      // Get the Sidebar
      var mySidebar = document.getElementById("mySidebar");
  
      // Get the DIV with overlay effect
      var overlayBg = document.getElementById("myOverlay");
  
      // Toggle between showing and hiding the sidebar, and add overlay effect
      function w3_open() {
          if (mySidebar.style.display === 'block') {
              mySidebar.style.display = 'none';
              overlayBg.style.display = "none";
          } else {
              mySidebar.style.display = 'block';
              overlayBg.style.display = "block";
          }
      }
  
      // Close the sidebar with the close button
      function w3_close() {
          mySidebar.style.display = "none";
          overlayBg.style.display = "none";
      }
    </script>
    <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 10px;right:10px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:250px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;
      <img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16">
    </pingendo>
  </div>
</body>

</html>