.search_box{
    background-color:white;
    border:solid 2px lightgreen;
    position: relative;

}

.search_box_autocomplete{
    border-width:0;
    background-color:white;
    //padding:0 55px;
    width: 100%;
}